[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
psycopg2-binary = "*"

[dev-packages]
black = "==20.8b1"
bump2version = "*"
django-debug-toolbar = "*"
pre-commit = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
robotframework = "*"
